NEXT_PUBLIC_SITE_URL="https://aqualux.store"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
ADMIN_ACCESS_KEY=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL="Aqualux <onboarding@resend.dev>"
ADMIN_NOTIFICATION_EMAIL=""
